<h2> Laptop List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID   </th>
            <th> Name </th>
            <th> Price </th>
            <!-- <th> Serail Number </th>
            <th> Warranty Status </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let laptop of laptops" >
            <td> {{ laptop.laptopId }} </td>
            <td> {{ laptop.laptopName }} </td>
            <td> {{ laptop.laptopPrice }} </td>
            <!-- <td> {{ laptop.laptopSerialNumber }} </td>
            <td> {{ laptop.laptopWarrantyStatus }}</td> -->
            <td>
                <button (click) = "updateLaptop(laptop.laptopId)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteLaptop(laptop.laptopId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "laptopDetails(laptop.laptopId)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>