footer{
    background-color: lightsalmon;
    padding: 20px 0;
    bottom: 0;
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
}

nav{
    background-color: lightcoral;
}
.nav-item a {
    color: black;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.nav-item a:hover{
    color: blue;
    transform: scale(1.2);
}