<div class="col-md-6 offset-md-3">
    <h3> Update Laptop </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> ID </label>
            <input type="number" class ="form-control" id = "laptopId"
                [(ngModel)] = "laptop.laptopId" name = "laptopId">
        </div>
    
        <div class="form-group">
            <label> Laptop Name </label>
            <input type="text" class ="form-control" id = "laptopName"
                [(ngModel)] = "laptop.laptopName" name = "laptopName">
        </div>
    
        <div class="form-group">
            <label> Laptop Price </label>
            <input type="number" class ="form-control" id = "laptopPrice"
                [(ngModel)] = "laptop.laptopPrice" name = "laptopPrice">
        </div>

        <div class="form-group">
            <label> Laptop Serail number </label>
            <input type="number" class ="form-control" id = "laptopSerialNumber"
                [(ngModel)] = "laptop.laptopSerialNumber" name = "laptopSerialNumber">
        </div>

        <div class="form-group">
            <label> Laptop Warranty Status </label>
            <input type="text" class ="form-control" id = "laptopWarrantyStatus"
                [(ngModel)] = "laptop.laptopWarrantyStatus" name = "laptopWarrantyStatus">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 